<div class="container">
  <h1>Becoming an instructor</h1>
  <div class="row">
    <div class="col mt-4">
      <img src="https://www.skinny2fit.com/wp-content/uploads/2018/02/Kali-Muscle-Steroids-696x426.jpg" alt="" class="img-fluid">
    </div>
    <div class="col card p-4 m-4 bg-light">
      <h2>Join the gang</h2>
      <p>You paid you debts to society? That doesn't mean you should be able to make money anymore. </p>
      <%= simple_form_for @instructor do |f|%>

        <%= f.input :instructor_photo, hint: 'A nice mugshot?' %>
        <%= f.input :bio %>
        <%= f.input :qualification %>
        <%= f.input :rapsheet %>
        <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
