<!--<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">-->
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--Conditional showing of navbar lsit elements-->
<!--      <% if user_signed_in? %>-->
<!--        <li class="nav-item active">-->
<!--          <%= link_to "Home", "#", class: "nav-link" %>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Messages", "#", class: "nav-link" %>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!-- Dropdown menu items from the avatar -->
<!--          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>-->
<!--          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--            <%= link_to "Action", "#", class: "dropdown-item" %>-->
<!--            <%= link_to "Another action", "#", class: "dropdown-item" %>-->
<!--            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>-->
<!--          </div>-->
<!--        </li>-->
<!--      <% else %>-->
<!-- Show items that non-authenticated users can see -->
<!--        <li class="nav-item">-->
<!--          <%= link_to "Login", new_user_session_path, class: "nav-link" %>-->
<!--        </li>-->
<!--      <% end %>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->


<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#"><strong>Felony Fitness&nbsp;</strong><i class="fas fa-dumbbell"></i><strong>&nbsp;</strong><br></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link active" href="activity-list.html">Activities</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="felons-list.html">Felons</a></li>
          <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="bookings.html">User Specific Actions</a>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
          </li>
        </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span></div>
    </div>
  </nav>
</div>
