<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <strong><%= link_to "Felony Fitness", root_path, class:'navbar-brand' %></strong>
      <i class="fas fa-dumbbell"></i>
      </a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation">
            <%= link_to "Activities", activity_types_path %>
          </li>
          <li class="nav-item" role="presentation">
            <%= link_to "Felons near you", instructors_path %>
          </li>
        </ul>
        <span class="navbar-text actions">
          <% if user_signed_in? %>
            <%= link_to "Profile", dashboard_path, class: "login" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "login" %>
          <% end %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-light action-button" %>
          <!-- role="button" -->
        </span>
      </div>
    </div>
  </nav>
</div>
