<div class="container">


<h1>Edit activity_type</h1>
<%= simple_form_for(@activity_type) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :duration %>
    <%= f.input :price %>
    <%= f.input :kind %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>
