<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info"><%= @activity_type.name %></h2>
      <p><%= @activity_type.description %></p>
    </div>
    <div class="app-nav-link">
      <%= link_to "< Back to activities", activity_types_path %>
    </div>
    <div class="box">
      <div class="mb-5">
        <!-- Activty image and action -->
        <div class="row">
          <div class="col-6">
            <%= cl_image_tag @activity_type.photo, height: 290, width: 500, crop: :fill %>
          </div>
          <div class="col-6">
            <div class="main">
              <p> <strong>Rating: </strong>[Average star rating]</p>
              <p><%= link_to "Edit", edit_activity_type_path, class: 'btn btn-secondary' %></p>
              <div class="border mb-3"></div>
              <div class="edit" class="btn btn-info">
              </div>
            </div>
            <div class="card p-4">
              <strong>Next available class:</strong>
              <p><%= render partial: '/shared/date/fdate_future', locals: {date: @upcoming_activity.date} %></p>
              <%= link_to "Book now", new_scheduled_activity_booking_path(@upcoming_activity), class: "btn btn-primary one" %>
            </div>
            <div class="border mb-3"></div>

            <% if @scheduled_activities.length == 0 %>
            <%= link_to "Schedule a new class", new_scheduled_activity_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Activity schedules, locations and reviews -->

      <div class="product-info">
        <ul class="nav nav-tabs">
          <li class="nav-item nav-link active sched-link">Schedule</li>
          <li class="nav-item nav-link loc-link">Location</li>
          <li class="nav-item nav-link rev-link">Reviews</li>
        </ul>
        <div class="activity-actions mt-4">
          <%= link_to "Schedule a new activity", new_scheduled_activity_path(ActivityType), class: 'btn btn-secondary' %>
        </div>
        <div class="schedule py-4">
          <% @scheduled_activities.each do |scheduled_activity| %>
          <div class="card my-3">
            <div class="row p-3">

              <div class="col-9">
                <ul class="list-unstyled">
                  <li> <%= render partial: '/shared/date/fdate_future', locals: {date: scheduled_activity.date} %></li>
                  <li><%= scheduled_activity.location %></li>
                  <li><strong>Places left: <%= scheduled_activity.capacity %>
                  </strong></li>
                </ul>
              </div>

              <div class="col-3">
                <%= link_to "Book this class", new_scheduled_activity_booking_path(scheduled_activity), class: 'btn btn-primary' %>
                <%= link_to "Edit", edit_scheduled_activity_path(scheduled_activity), class: 'btn btn-secondary' %>
              </div>

            </div>
          </div>
          <% end %>
        </div>

        <div class="location d-none">
          Location
          <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          class="container map-show"></div>
        </div>

        <div class="reviews d-none">
          <% @scheduled_activities.each do |a| %>
            <% a.bookings.each do |b| %>
              <% b.reviews.each do |r| %>
                <div class="review">
                  <div class="review-item">
                    <div class="rating">
                      <img src="star.svg" style="">
                      <img src="star.svg" style="">
                      <img src="star.svg" style="">
                      <img src="star.svg" style="">
                      <img src="star-empty.svg" style="">
                    </div>
                    <!-- <h4>Could be more aggressive</h4> -->
                    <span class="text-muted"><%= link_to r.user.first_name, user_path(r.user) %>, <%= r.created_at.to_s.gsub(/\d\:\S+\s\w+/, '') %></span>
                    <p><%= r.description %></p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%#= link_to "Back to list", tasks_path %>
