<%= link_to "Back to all activities", activity_types_path %>

<div class="main">
  <h1><%= @activity_type.name %></h1>
  <div class="edit">
    <%#= link_to 'Edit this activity_type', edit_path %>
  </div>
</div>

<div class="activity_type">
  <p><%= @activity_type.description %></p>
</div>

<h2>Schedule</h2>

<% if  @scheduled_activities.length == 0 %>
  <%= link_to "Schedule a new class", new_scheduled_activity_path(ActivityType), class: 'btn btn-primary' %>
<% end %>


<% @scheduled_activities.each do |scheduled_activity| %>
  <div class="container">
    <%= scheduled_activity.date %>
    <%= scheduled_activity.location %>
    <%= link_to "book this class", new_booking_path(:class_id => scheduled_activity.id) %>
  </div>
<% end %>

<%#= link_to "Back to list", tasks_path %>
