<div class="container">
<h1>Hi <%= current_user.first_name %>!</h1>
<%= link_to "Edit", edit_user_path(current_user), class: 'btn btn-primary' %>
Email: <%= current_user.email %> <br>
User id: <%= current_user.id %> <br><br>
<p class="alert-success p-2">
  <% if current_user.instructor %>
    <%= link_to "Review your instructor profile", instructor_path(@user.instructor.id)%>
  <% end %>
</p>

<%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>

<br>
<% unless current_user.instructor %>
<p class="alert-success p-2">Fit felon?
  <%= link_to "Become an instructor!", new_instructor_path %>
</p>
<% end %>

<h2>Upcoming classes</h2>
  <% if @upcoming_bookings.any? %>
      <% @upcoming_bookings.each do |booking| %>
      <div class="card m-2 p-2 bg-light">
        <%= booking.scheduled_activity.name %>
        <p><%= booking.date %></p>
        <%= link_to "Cancel this booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
      <% end %>
    <% else %>
      <%= "You have no upcoming bookings" %>
  <% end %>

<h2>Past classes</h2>

<% @past_bookings.each do |booking| %>
<div class="card m-2 p-2 bg-light">
  <%= booking.scheduled_activity.name %>
  <p><%= booking.date.strftime("%m/%d/%y - %I:%M %p") %></p>
  <p><%= link_to "Review this booking", new_booking_review_path(booking) %></p>
</div>
<% end %>
</div>
