<div class="container">
<h1>all</h1>
<div class="searchable">
    <%= form_tag scheduled_activities_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search Name or Location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
<% end %>
<div>
  <%= link_to "Show all", scheduled_activities_path, class:"btn btn-primary my-2" %>
</div>
  </div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @scheduled_activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_type.name %></td>
        <td><%= activity.location %></td>
        <td><%= activity.capacity %></td>
        <td><%= activity.date.strftime("%m/%d/%y - %I:%M %p") %></td>
        <td>
          <%= link_to "edit", edit_scheduled_activity_path(activity.id) %>
          <%= link_to "delete", activity, method: :delete, data: { confirm: 'Are you sure?'} %>
          <%= link_to "show", scheduled_activity_path(activity.id) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
class="container"></div>

<%= link_to "create new scheduled activity", new_scheduled_activity_path %>

</div>
