<h1>all</h1>

<% @scheduled_activities.each do |activity| %>
<div class="container">
  <div class="d-flex">
    <%= activity.activity_type.name %>
    <%= activity.location %>
    <%= activity.capacity %>
    <%= activity.date %>
    <div>
      <%= link_to "edit", edit_scheduled_activity_path(activity.id) %>
      <%= link_to "delete", activity, method: :delete, data: { confirm: 'Are you sure?'} %>
      <%= link_to "show", scheduled_activity_path(activity.id) %>
    </div>
  </div>
</div>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
class="container"></div>

<%= link_to "create new scheduled activity", new_scheduled_activity_path %>

