<h1>Show page</h1>

<%= @scheduled_activity.activity_type.name %>
<%= @scheduled_activity.date %>
<%= @scheduled_activity.location %>
<%= @scheduled_activity.capacity %>
<%= @scheduled_activity.instructor_id %>
<%= link_to "edit", edit_scheduled_activity_path %>
<br>
<%= link_to "home", scheduled_activities_path %>

