<div class="container">
<h1>Show page</h1>
<ul>
  <li><%= @scheduled_activity.activity_type.name %></li>
  <li><%= @scheduled_activity.date %></li>
  <li><%= @scheduled_activity.location %></li>
  <li><%= @scheduled_activity.capacity %></li>
  <li>Instructor_id: <%= @scheduled_activity.instructor.rapsheet %></li>
  <% raise %>
  <li>
    <%= @scheduled_activity %>
  </li>
</ul>
<%= link_to "edit", edit_scheduled_activity_path %>
<br>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
class="container"></div>

<%= link_to "home", scheduled_activities_path %>

</div>
